.item {
    cursor: pointer;
}

.item-title {
    width: 300px;
}

.item-year {
    text-align: center;
    width: 100px;
}

.item-rating {
    text-align: center;
    width: 100px;
}
.container {
    display: inline-block;
}

.row {
    margin-bottom: 5px;
    display: flex;
}

.btn{
    margin-left: 10px;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}