<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/js/webix/webix.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main-window.css">
    <link type="text/css" rel="stylesheet" href="/public/js/codebase/webix.css">
   
    <script src="/public/js/data.js"type="text/javascript"></script>
    <script src="/public/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js" type="text/javascript"></script>
    <script src="/public/js/webix/webix.js" type="text/javascript"></script>
    <script src="/public/js/index.js" type="module"></script>
  </head>
  <body>
